---
import Author from '../Author.astro';
---
<div class='about-the-author py-4 border-b'>
  <h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
  <Author picSize='md' />
  <div class='author-desc text-[.825rem] my-4'>
    <p class='mb-3'>
      Hi! I'm Li-Hsuan — a biomedical science nerd turned electrical engineering explorer. 🧪⚡ I’ve spent years fine-tuning hydrogel electrodes and diving deep into how biology and technology can work hand in hand.
    </p>
    <p>
      Soon, I’ll be heading to the University of Florida for my Master’s in Electrical & Computer Engineering! Always excited to connect, brainstorm, and collaborate on anything at the intersection of science, tech, and a little bit of crazy curiosity.
    </p>
  </div>
</div>
